@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Cormorant+Infant:wght@300&display=swap');

:root {
  --primary-wht: rgb(249, 249, 249);
  --primary-gry: rgba(175, 174, 174, 0.8);
  --primary-blue: rgb(84, 123, 196);
  --bg-blue: rgba(84, 123, 196, 0.8);
  --bg-blk: rgba(51, 51, 51, 0.3);

  --fnt-title: ‘Montserrat’, sans-serif;
  --fnt-primary: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/background-img.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--fnt-primary);
  background-color: var(--bg-blk);
  cursor: url(../images/cursor.png), auto;
}

/* nav-bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1.3rem;
}

nav a {
  text-decoration: none;
}

h1 {
  margin-left: 0.3rem;
  font-size: 1.5em;
  font-family: var(--fnt-title);
  font-weight: 300;
  color: var(--primary-wht);
}

h2 {
  font-family: var(--fnt-title);
  font-weight: 300;
  color: var(--primary-wht);
}

h3 {
}

.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 12px;
  height: 100%;
  width: 55%;
}

form {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

form input {
  float: left;
  width: 90%;
  height: 2rem;
  padding: 0 0.5rem;
  font-family: var(--fnt-primary);
  color: var(--primary-wht);
  border: 1px solid var(--primary-gry);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  outline: none;
  background: transparent;
}

.btn {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 2rem;
  border: 1px solid var(--primary-gry);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
  color: var(--primary-wht);
  background: linear-gradient(
    to bottom,
    var(--primary-gry) 0%,
    var(--bg-blk) 100%
  );
}

.btn:hover,
.btn:focus,
.btn:active {
  background: linear-gradient(
    to bottom,
    var(--primary-blue) 0%,
    var(--bg-blue) 100%
  );
}

form::after {
  clear: both;
}

.map-marker,
.landing-map-marker {
  color: var(--primary-wht);
  cursor: pointer;
  padding: 1rem;
}

/* landing page */
.landing-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-search-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 12vh;
  margin: 3rem 0 1rem 0;
}

.landing-search-cont h2 {
  letter-spacing: 1rem;
}

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-flex input {
  width: 80%;
  height: 2rem;
  padding: 1rem;
  padding: 1rem;
}

.form-flex .btn {
  width: 10%;
  height: 2rem;
  padding: 1rem;
}

.earth-wrap {
  width: 80%;
  text-align: center;
}

.earth-map {
  width: 32rem;
}

/* results page */
.results-pg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.show-round-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#map {
  height: 27rem;
  width: 27rem;
  border-radius: 50%;
  box-shadow: rgba(245, 245, 245, 0.25) 2.95px 2.95px 9.6px;
}

.results-content,
.water {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  margin-top: 1rem;
  color: var(--primary-wht);
}

#location-append,
.time-weather-cont {
  margin-bottom: 1rem;
}

.time-weather-cont {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

/* toggle switch for measurement unit */
#toggleF,
#toggleC {
  width: 0.9rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.6rem;
  height: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-blue);
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1rem;
  width: 1rem;
  left: 0;
  bottom: 0;
  background-color: var(--primary-wht);
  transition: 0.4s;
}

input:checked + .slider {
  color: var(--primary-wht);
  background-color: var(--bg-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-wht);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(1.3rem);
}

.slider.round {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.info-container {
  width: 100%;
  margin: 1rem auto;
  color: var(--primary-wht);
}

.info-container div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.country {
}

.countryEl {
}

.flagEl {
  width: 10%;
}

.borders {
  display: flex;
  flex-direction: column;
}

.border-title {
  margin-bottom: 1rem;
  text-align: center;
}

.bordersEl {
  margin-bottom: 0 !important;
}

.bordersEl div {
  margin-bottom: 0;
}

.antBtn {
  position: relative;
  padding: 1.4rem 4.2rem;
  padding-right: 3.1rem;
  text-align: center;
  font-size: 0.9em;
  color: var(--primary-wht);
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

.antBtn:before,
.antBtn:after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.antBtn:hover {
  color: #96b7c4;
  transition-delay: 0.5s;
}

.antBtn:hover:before {
  transition-delay: 0s;
}

.antBtn:hover:after {
  background: var(--primary-wht);
  transition-delay: 0.35s;
}

.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
  border: 1px solid var(--primary-wht);
  border-left: 0;
  border-right: 0;
}

.from-left:after {
  left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}

.water img {
  width: 30rem;
  margin: 1rem 0;
  border-radius: 20px;
  box-shadow: rgba(245, 245, 245, 0.25) 2.95px 2.95px 9.6px;
}

.hide {
  display: none;
}
