@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Cormorant+Infant:wght@300&display=swap');

:root {
  --primary-wht: rgb(249, 249, 249);
  --primary-gry: rgba(175, 174, 174, 0.8);
  --bg-wht: rgba(51, 51, 51, 0.8);

  --fnt-title: 'Shippori Mincho B1', serif;
  --fnt-primary: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--fnt-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.bg img {
  height: 100vh;
}

/* nav-bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0.3rem;
}

h1 {
  margin-left: 0.3rem;
  font-size: 1.3rem;
  font-family: var(--fnt-title);
  font-weight: 300;
  color: var(--primary-wht);
}

.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 12px;
  height: 100%;
}

#search-bar {
  width: 30vw;
  margin: 0;
  padding: 0 0.5rem;
  color: var(--primary-wht);
  border: 1px solid var(--primary-gry);
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  background: transparent;
}

.map-marker,
.landing-map-marker {
  color: var(--primary-wht);
  cursor: pointer;
}

.btn {
}

/* landing page */
.landing-pg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80vw;
  height: 30vh;
}

h2 {
  font-family: var(--fnt-title);
  color: var(--primary-wht);
}

/* results page */
.results-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--bg-wht);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.current-location-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-header {
  display: flex;
}

.current-location-cont h2 {
  margin: 0 0.3rem;
}

#map {
  width: 70vw;
  height: 50vh;
}

.hide {
  display: none;
}
